<panel title="Artist Details" (backClicked)="onBack()" *ngIf='artist'>
    <div class="media">
        <div class="media-left media-top">
            <img [src]='"images/artists/" + artist.image_url' />
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{artist.name}}</h4>
            {{artist.biography}}
        </div>
    </div>
    <br/>
    <panel title="Albums" [showFooter]="false">
        <albums-list (albumClicked)='onAlbumClicked($event)' [artist]='artist'></albums-list>
    </panel>    
</panel>